body{
    font-family : sans-serif, "Times New Roman";
}
.header_left{
    width:25%;
    background-color:#155151;
    border:4px solid #155151;
    color:white;
}
.header_right{
    width:75%;
/*     background-color:#c2d6d6; */
    border:4px solid #155151;
}
.section_menu{
    width : 100%;
    background-color : #ffe6cc;/*#e6ffcc;*/
    border-style : solid;
    border-width : 2px 0px 2px 0px;
    margin-top : 2px;
}
.section_left{
    padding : 20px 0px 0px 0px;
    width : 14%;
    float : left;
}
.section_middle{
    width : 100%;
/*     float : right; */
    padding-top : 10px;
    /*                 background-color : lightyellow */
}
div.side_nav{
    border-style : solid;
    border-width : 0px 0px 1px 0px;
    background-color : #ffe6cc;
}
a.side_nav{
    display : block;
    padding : 5px;
    text-decoration : none;
    color : black;
    font-weight : bold;
    border : 2px solid #155151;
}
a.side_nav:hover{
    background-color : #dddddd;
}
a.active {
    background-color: #155151;/*#4CAF50;*/
    color: white;
    font-weight : bold;
    display : block;
    padding : 5px;
    text-decoration : none;
    padding : 5px;
    border : 3px solid #155151;
}
table.form{
    border-collapse : collapse;
    width : 80%;
    margin-left : 10%;
    margin-right : 10%;
}
table.form tr:nth-child(odd){
    background-color : #ffe6cc;
}
table.form tr:nth-child(even){
    background-color : #ffce99;
}
/*table.view{
    border-collapse : collapse;
    border : 1px solid white;
    align : center;
}
table.view tr:nth-child(odd){
    background-color : #ccd9ff;
}
table.view tr:nth-child(even){
    background-color : #b3c6ff;
}*/
th{
    background-color : #155151;
    color : #ffffff;
    padding : 5px;
    border : 2px solid #051515;
}
table.form td{
    border : 2px solid #051515;
}
.expression{
    font-family:monospace;
    font-size:1.2em;
}
input.full, select.full{
    width : 90%;
    margin-top : 5px;
    margin-bottom : 5px;
    margin-left : 5%;
    margin-right : 5%;
/*     padding-left : 5px; */
}
.plot_div{
    width: 100%;
    height: 300px;
    border : 2px solid #155151;
    overflow : hidden;
}
.plot_caption{
    width: 100%;
    text-align: center;
    background-color: #155151;
    color : white;
    font-weight: bold;
    border-style : solid;
    border-color : #155151;
    border-width : 0px 2px 2px 2px;
    padding : 5px 0 5px 0;
}
@media print{
    .section_left, button.noprint {
        display : none;
    }
}
